---
import { Enveloppe } from "dpe-audit";

interface Props {
    class?: string;
    value: Enveloppe.ConfortEte;
}

const { value, class: className = "" } = Astro.props;
const text = Enveloppe.confortEteToString(value);
---

<span class:list={[className]} data-value={value}>
    {text}
</span>

<style>
    span {
        text-wrap: nowrap;
        padding: 0.5rem;
        color: #ffffff;
        font-weight: 600;

        &[data-value="bon"] {
            background-color: #2caf85;
        }
        &[data-value="moyen"] {
            background-color: #f49838;
        }
        &[data-value="insuffisant"] {
            background-color: #e52322;
        }
    }
</style>
