---
import { Enveloppe } from "dpe-audit";

interface Props {
    class?: string;
    value?: Enveloppe.ConfortEte;
}

const { value = null, class: className = "" } = Astro.props;
const text = value ? Enveloppe.confortEteToString(value) : "-";
---

<span class:list={[className]} data-value={value}>
    {text}
</span>

<style>
    span {
        text-wrap: nowrap;
        padding: 0.3rem 1rem;
        font-weight: 600;
        border-radius: calc(infinity * 1px);

        &[data-value="bon"] {
            color: #ffffff;
            background-color: #2caf85;
        }
        &[data-value="moyen"] {
            color: #ffffff;
            background-color: #f49838;
        }
        &[data-value="insuffisant"] {
            color: #ffffff;
            background-color: #e52322;
        }
    }
</style>
