@import 'tailwindcss';
@import 'github-markdown-css/github-markdown.css';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --text-disabled: color-mix(
    in oklab,
    var(--color-base-content) 60%,
    transparent
  );
  --color-primary: #2c3ec4;
  --color-secondary: #f43098;
}

html {
  font-size: 0.9rem;
  font-family: 'Poppins';
}

.overflow-x-auto {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

ul,
ol {
  list-style: initial;
  padding-left: 1.5rem;
}

.color-primary {
  color: var(--color-primary);
  fill: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}
