<div class="card shadow-sm">
    <slot />
</div>

<style>
    .card {
        position: relative;
        width: 100%;
        min-width: 220px;
        background-color: #ffffff;
        border-radius: 1rem;
        padding: 1rem;
    }
</style>
