---
import { Common } from "dpe-audit";
import { ConsommationsEnergie, ConsommationsUsage } from "~";
import { Card, CardHeader } from "./Card";
import { Caption } from "./Caption";
import { DialogButton } from "./Dialog";

interface Props {
    consommations: Common.Consommation[];
}
const { consommations } = Astro.props;
---

<Card>
    <CardHeader title="Répartition des consommations">
        <DialogButton name="repartition-consommations" />
    </CardHeader>

    <div class="grid gap-6">
        <div class="overflow-hidden overflow-x-auto">
            <ConsommationsUsage consommations={consommations} className="table" />
        </div>
        <div class="overflow-hidden overflow-x-auto">
            <ConsommationsEnergie consommations={consommations} className="table" />
        </div>

        <Caption>
            <ul>
                <li><b>EF :</b> Consommation d'énergie finale en kWh/an</li>
                <li><b>EP :</b> Consommation d'énergie primaire en kWh/an</li>
            </ul>
        </Caption>
    </div>
</Card>

<style></style>
