---
import Icon from "../icons/circle-info.svg";

interface Props {
    name: string;
    size?: number;
}

const { name, size = 18 } = Astro.props;
---

<button data-name={name} class="dialog-button">
    <Icon id="button" class="icon" width={size} height={size} />
</button>

<style>
    .icon:hover {
        cursor: pointer;
    }
    .icon {
        position: absolute;
        top: 0;
        right: 0;
        color: var(--text);
    }
</style>

<script>
    import { open } from "../stores/ui.js";

    document.querySelectorAll(".dialog-button").forEach((element) => {
        const name = element.getAttribute("data-name");

        if (name) {
            element.addEventListener("click", () => open(name));
        }
    });
</script>
