---
import { Enveloppe, IndicateurIsolationEnveloppe } from "~";
import { Card, CardHeader } from "./Card";
import { DialogButton } from "./Dialog";

interface Props {
    performance: Enveloppe.Performance;
}

const { performance } = Astro.props;
---

<Card>
    <CardHeader title="Performance de l'isolation">
        <DialogButton name="performance-isolation" />
    </CardHeader>

    <div class="max-w-[200px] m-auto">
        <IndicateurIsolationEnveloppe performance={performance} />
    </div>
</Card>
