---
import { Enveloppe, SchemaRepartitionDeperditions } from "~";
import { Card, CardHeader } from "./Card";
import { DialogButton } from "./Dialog";

interface Props {
    deperditions: Enveloppe.Deperdition[];
}

const { deperditions } = Astro.props;
---

<Card>
    <CardHeader title="Répartition des déperditions">
        <DialogButton name="repartition-deperditions" />
    </CardHeader>

    <div class="max-w-[380px] m-auto">
        <SchemaRepartitionDeperditions deperditions={deperditions} />
    </div>
</Card>
