---
import { Enveloppe } from "dpe-audit";
import { DeperditionSchema } from "~";
import { Alert } from "./Alert";
import { Card, CardHeader } from "./Card";
import { DialogButton } from "./Dialog";

interface Props {
    deperditions?: Enveloppe.Deperdition[];
}

const { deperditions = null } = Astro.props;
---

<Card>
    <CardHeader title="Répartition des déperditions">
        <DialogButton name="repartition-deperditions" />
    </CardHeader>

    {deperditions == null && <Alert type="note" content="Non disponible" />}

    {
        deperditions && (
            <div class="max-w-[380px] m-auto">
                <DeperditionSchema deperditions={deperditions} />
            </div>
        )
    }
</Card>
