---
import {
    type Adresse,
    type Batiment,
    typeBatimentToString,
    adresseToString,
} from "../data/Audit";
import Icon from "../icons/house-building.svg";

interface Props {
    batiment: Batiment;
    adresse: Adresse;
}

const { batiment, adresse } = Astro.props;
---

<div class="flex">
    <div class="icon">
        <Icon width={62} height={62} />
    </div>
    <div class="info">
        <div class="title">
            {typeBatimentToString(batiment.type)}
        </div>
        <div class="content">
            <p>{adresseToString(adresse)}</p>
            <p>Surface : {batiment.surface_habitable} m²</p>
            <p>Année de construction : {batiment.annee_construction}</p>
        </div>
    </div>
</div>

<style>
    .flex {
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
            padding: 1.2rem;
        }
        .info {
            flex-grow: 1;
        }
    }
    .title {
        font-weight: 600;
        margin-bottom: 0.5rem;
    }
    .content p:not(:last-child) {
        margin-bottom: 0.4rem;
    }
</style>
